* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 100px ;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: black;
}

.title1 {
    margin-top: 12rem;
}

.navbar a {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    align-content: center;
    margin-left: 80px;
    
}

h1 {
    color: #fff;
    font-size: 5rem;
    text-align: center;
    margin-top: 2rem;
}

p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

.container  {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 40px;
}

.gallery    {
    display: flex;
    gap: 20px;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.thumbz {
    margin-top: 5rem;
}

body {
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9f651723-3337-4ff7-b54c-5367ff9f9402/dienm8i-d4270b04-076d-4913-8683-7193b3f48b00.jpg/v1/fill/w_1192,h_670,q_70,strp/background2_by_tuttiecharlie_dienm8i-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOWY2NTE3MjMtMzMzNy00ZmY3LWI1NGMtNTM2N2ZmOWY5NDAyXC9kaWVubThpLWQ0MjcwYjA0LTA3NmQtNDkxMy04NjgzLTcxOTNiM2Y0OGIwMC5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.FplT4GjaSp6Ls7Z1ii99JeXSf9rI97_lr5DIr7fOcjs);
    justify-content: center;
    align-content: center;
    background-attachment: scroll;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    height: 100dvh;
    width: 100dvw;
    overflow-x: hidden;
    text-align: center;
    
}

.pad    {
    padding-bottom: 25rem;
}

.titlepad   {
    padding-top: 10rem;
}
