* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9f651723-3337-4ff7-b54c-5367ff9f9402/dienksx-d9281a1a-cd92-4f88-beaf-604c3bff4413.jpg/v1/fill/w_1192,h_670,q_70,strp/background1_by_tuttiecharlie_dienksx-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvOWY2NTE3MjMtMzMzNy00ZmY3LWI1NGMtNTM2N2ZmOWY5NDAyXC9kaWVua3N4LWQ5MjgxYTFhLWNkOTItNGY4OC1iZWFmLTYwNGMzYmZmNDQxMy5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ozKGZzbwdox3KkDdXutavGFB8wO6zQRF3S4-UmHfDgA);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100dvh;
    width: 100dvw;

}

.header {
    position: fixed;
    top: 15px;
    left: 0;
    width: 100%;
    padding: 20px 100px ;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    align-content: center;
    margin-left: 80px;
}










